@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <title>kkkkkkaaaaaa.Web.Http</title>
  <style>
  .navigate--a {
      width: 120px
  }
  .navigate--label {
    padding-left: 40px
  }
  </style>
</head>
<body>
<div>
  <h2>ASP.NET API's Convention over Configuration（CoC; 設定より規約）and its overwrite.</h2>
  <h3>config.Routes.MapHttpRoute(@@"WebApi",@@"{controller}/{action}/{id:int}", new { id = RouteParameter.Optional })</h3>
  <ul>
    <li><a class="navigate--a" href="./Membership/1" title='config.MapHttpRoute("{controller}/{id:int}")'>Membership.GetByConvention()</a><label class="navigate--label">Membership/1</label></li>
    <li><a class="navigate--a" href="./Membership/GetByRouteMapping/1" title='config.MapHttpRoute("{controller}/{action}/{id:int}")'>Membership.GetByRouteMapping()</a><label class="navigate--label">Membership/Get/1</label></li>
  </ul>

  <h3>[RoutePrefis(@@"MEmbership")]class MembershipController : ApiController</h3>
  <ul>
    <li><a class="navigate--a" href="./Membership/m/c/1" title="[Route()]">click</a><label class="navigate--label">Membership.GetByRouteAttribute()</label></li>
    <li><a class="navigate--a" href="./Membership/get/1" title="[Route()]">click</a><label class="navigate--label">Membership.CetByRouteAttribute()</label></li>
  </ul>

</div>
</body>
</html>
