<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
-->
<configuration>
  <system.web>
    <!--  -->
    <compilation debug="true" targetFramework="4.0" />

    <!--  -->
    <authentication mode="Forms">
      <forms loginUrl="~/WebForm1.aspx" />
    </authentication>
    
    <!--  -->
    <authorization>
      <!--<allow roles="*" users="*" verbs="*" />-->
      <deny roles="?" />
    </authorization>
    
    <!--  -->
    <membership defaultProvider="KandaMembershipProvider">
      <providers>
        <clear />
        <add
          name="KandaMembershipProvider"
          type="kkkkkkaaaaaa.Web.Security.KandaMembershipProvider"
          passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    
    <!-- SqlMembershipProvider syntax -->
    <!-- 
    <add name="string"
         type="string"
         connectionStringName="string"
         applicationName="MyApplication"
         commandTimeout=""
         description=""
         enablePasswordRetrieval="false"
         enablePasswordReset="true"
         requiresQuestionAndAnswer="true"
         requiresUniqueEmail="false"
         passwordFormat="Hashed"
         maxInvalidPasswordAttempts="5"
         passwordAttemptWindow="10"
         minRequiredPasswordLength=""
         minRequiredNonalphanumericCharacters=""
         passwordStrengthRegularExpression=""
  />
    -->
    <!-- ActiveDirectoryMembershipProvider syntax -->
    <!--
    <add
        name="string"
        type="string"
        applicationName=""
        attributeMapUsername="string"
        attrbuteMapEmail="string"
        attributeMapPasswordQuestion="string"
        attributeMapPasswordAnswer="string"
        attributeMapFailedPasswordAnswerCount="number"
        attributeMapFailedPasswordAnswerTime="interval"
        attributeMapFailedPasswordAnswerLockoutTime="interval"
        clientSearchTimeout="interval"
        serverSearchTimeout=""
        connectionUsername="string"
        connectionPassword="string"
        connectionProtection="string"
        connectionStringName="connection string identifier"
        enablePasswordReset="true|false"
        enablePasswordRetrieval="true|false"
        enableSearchMethods="true|false"
        requiresQuestionAndAnswer="true|false"
        maxInvalidPasswordAttempts="number"
        passwordAttemptWindow="number"
        commandTimeout="number"
        description="string"
        passwordAnswerAttemptLockoutDuration="interval"
        minRequiredPasswordLength=""
        minRequiredNonalphanumericCharacters=""
        passwordStregnthRegularExpression="string"
        passwordAnswerAttemptLockoutDuration="number"
        requiresUniqueEmail="true|false"
/>
-->

    <!--  -->
    <roleManager enabled="true" defaultProvider="KandaRoleProvider">
      <providers>
        <clear />
        <add name="KandaRoleProvider" type="kkkkkkaaaaaa.Web.Security.KandaRoleProvider" />
      </providers>
    </roleManager>

  </system.web>
</configuration>
