    <div>
        @using (Html.BeginForm(@"SignIn", @"Membership", FormMethod.Post))
        {
            @Html.TextBox(@"name", @"aaaaa")
            @Html.TextBox(@"password", @"bbbbb")
            <input id="btnSignin" type="submit" value="SignIn"  />
        }
    </div>
