    <div>
        @using (Html.BeginForm(@"SignIn", @"SignIn", FormMethod.Post))
        {
            @Html.TextBox(@"name", @"aaaaa")
            @Html.TextBox(@"password", @"bbbbb")
            @Html.CheckBox(@"chkRemember", false)
            <input id="btnSignin" type="submit" value="SignIn"  />
        }
    </div>
