    <title></title>
    <link rel="stylesheet" href="@Url.Content(@"~/Content/normalize.css")" />
    <link rel="stylesheet" href="@Url.Content(@"~/Content/layout.css")" />
    <script type="text/javascript" src="@Url.Content(@"/Scripts/jquery-1.9.1.js")"></script>