    Top
    <div style="float: left"><a href=@Url.Content(@"~/") >Home</a></div>
    <div style="float: right"><a href=@Url.Content(@"~/membership") >Membership</a>
    @using(Html.BeginForm(@"SignOut", @"Membership", FormMethod.Post))
    {
    <input type="submit" id="btnSignout" value="Sign out" />
    }
    </div>