@using kkkkkkaaaaaa.DataTransferObjects
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="@Url.Content(@"~/Content/normalize.css")" />
        @Html.Partial(@"_Head")
    </head>
    <body>
        <div>
            @this.RenderBody()
        </div>
    <footer></footer>
    </body>
</html>