<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="@Url.Content(@"~/Content/normalize.css")" />
    </head>
    <body>
        <div>
           @this.RenderBody()
        </div>
    </body>
</html>