<!DOCTYPE html>
<html lang="jp">
    <head>
        <title></title>
        @Html.Partial(@"_Head")
    </head>
<body>
    <div id="divLayout" style="border: solid 0px">
    @this.RenderBody()
    </div>
</body>
</html>